// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// BASE URL
$base-url:                                          '/assets/';


// IMAGES & RETINA
$image-path:                                        $base-url + '/images';
$fallback-extension:                                'png';
$retina-suffix:                                     '@2x';


// COLORS
$white:                                             #fff !default;
$black:                                             #000 !default;
$red:                                               #d9534f !default;
$orange:                                            #f0ad4e !default;
$yellow:                                            #ffd500 !default;
$green:                                             #5cb85c !default;
$blue:                                              #0275d8 !default;
$teal:                                              #5bc0de !default;
$pink:                                              #ff5b77 !default;
$purple:                                            #613d7c !default;

$gray-dark:                                         #292b2c !default;
$gray:                                              #464a4c !default;
$gray-light:                                        #636c72 !default;
$gray-lighter:                                      #eceeef !default;
$gray-lightest:                                     #f7f7f9 !default;

$brand-primary:                                     $blue !default;
$brand-success:                                     $green !default;
$brand-info:                                        $teal !default;
$brand-warning:                                     $orange !default;
$brand-danger:                                      $red !default;
$brand-inverse:                                     $gray-dark !default;


// BODY
$screen-xs:                                         480px;
$screen-sm:                                         768px;
$screen-md:                                         992px;
$screen-lg:                                         1500px;

$body-bg:                                           $white !default;
$body-color:                                        $gray-dark !default;
$inverse-bg:                                        $gray-dark !default;
$inverse-color:                                     $gray-lighter !default;


// Links
$link-color:                                        $brand-primary !default;
$link-decoration:                                   none !default;
$link-hover-color:                                  darken($link-color, 15%) !default;
$link-hover-decoration:                             underline !default;


// TYPOGRAPHY
$text-font-stack:                                   'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack:                                   'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$font-family-sans-serif:                            'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:                                 Georgia, 'Times New Roman,' Times, serif;
$font-family-monospace:                             Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base:                                  $font-family-sans-serif;

$font-size-base:                                    1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                                      1.25rem !default;
$font-size-sm:                                      .875rem !default;
$font-size-xs:                                      .75rem !default;

$font-weight-normal:                                normal !default;
$font-weight-bold:                                  bold !default;

$font-weight-base:                                  $font-weight-normal !default;
$line-height-base:                                  1.5 !default;

$font-size-h1:                                      2.5rem !default;
$font-size-h2:                                      2rem !default;
$font-size-h3:                                      1.75rem !default;
$font-size-h4:                                      1.5rem !default;
$font-size-h5:                                      1.25rem !default;
$font-size-h6:                                      1rem !default;

$line-height-base:                                  1.428571429; // 20/14
$line-height-computed:                              floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-family:                              inherit;
$headings-font-weight:                              500;
$headings-line-height:                              1.1;
$headings-color:                                    inherit;


// COMPONENTS
$border-radius:                                     .25rem !default;
$border-radius-lg:                                  .3rem !default;
$border-radius-sm:                                  .2rem !default;

$component-active-color:                            $white !default;
$component-active-bg:                               $brand-primary !default;

$caret-width:                                       .3em !default;

$transition-base:                                   all .2s ease-in-out !default;
$transition-fade:                                   opacity .15s linear !default;
$transition-collapse:                               height .35s ease !default;

$border-width:                                      1px !default;

$spacer:                                            1rem !default;
$spacer-x:                                          $spacer !default;
$spacer-y:                                          $spacer !default;

// TABLES
$table-cell-padding:                                .75rem !default;
$table-sm-cell-padding:                             .3rem !default;

$table-bg:                                          transparent !default;

$table-inverse-bg:                                  $gray-dark !default;
$table-inverse-color:                               $body-bg !default;

$table-bg-accent:                                   rgba($black, .05) !default;
$table-bg-hover:                                    rgba($black, .075) !default;
$table-bg-active:                                   $table-bg-hover !default;

$table-head-bg:                                     $gray-lighter !default;
$table-head-color:                                  $gray !default;

$table-border-width:                                $border-width !default;
$table-border-color:                                $gray-lighter !default;


// BUTTONS
$btn-padding-x:                                     1rem !default;
$btn-padding-y:                                     .5rem !default;
$btn-line-height:                                   1.25 !default;
$btn-font-weight:                                   $font-weight-normal !default;
$btn-box-shadow:                                    inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow:                              0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:                             inset 0 3px 5px rgba($black, .125) !default;

$btn-primary-color:                                 $white !default;
$btn-primary-bg:                                    $brand-primary !default;
$btn-primary-border:                                $btn-primary-bg !default;

$btn-secondary-color:                               $gray-dark !default;
$btn-secondary-bg:                                  $white !default;
$btn-secondary-border:                              #ccc !default;

$btn-info-color:                                    $white !default;
$btn-info-bg:                                       $brand-info !default;
$btn-info-border:                                   $btn-info-bg !default;

$btn-success-color:                                 $white !default;
$btn-success-bg:                                    $brand-success !default;
$btn-success-border:                                $btn-success-bg !default;

$btn-warning-color:                                 $white !default;
$btn-warning-bg:                                    $brand-warning !default;
$btn-warning-border:                                $btn-warning-bg !default;

$btn-danger-color:                                  $white !default;
$btn-danger-bg:                                     $brand-danger !default;
$btn-danger-border:                                 $btn-danger-bg !default;

$btn-link-disabled-color:                           $gray-light !default;

$btn-padding-x-sm:                                  .5rem !default;
$btn-padding-y-sm:                                  .25rem !default;

$btn-padding-x-lg:                                  1.5rem !default;
$btn-padding-y-lg:                                  .75rem !default;

$btn-block-spacing-y:                               .5rem !default;
$btn-toolbar-margin:                                .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:                                 $border-radius !default;
$btn-border-radius-lg:                              $border-radius-lg !default;
$btn-border-radius-sm:                              $border-radius-sm !default;

$btn-transition:                                    all .2s ease-in-out !default;


// FORMS
$state-success-text:                                #3c763d !default;
$state-success-bg:                                  #dff0d8 !default;
$state-success-border:                              darken($state-success-bg, 5%) !default;

$state-info-text:                                   #31708f !default;
$state-info-bg:                                     #d9edf7 !default;
$state-info-border:                                 darken($state-info-bg, 7%) !default;

$state-warning-text:                                #8a6d3b !default;
$state-warning-bg:                                  #fcf8e3 !default;
$mark-bg:                                           $state-warning-bg !default;
$state-warning-border:                              darken($state-warning-bg, 5%) !default;

$state-danger-text:                                 #a94442 !default;
$state-danger-bg:                                   #f2dede !default;
$state-danger-border:                               darken($state-danger-bg, 5%) !default;


// DROPDOWNS
$dropdown-min-width:                                10rem !default;
$dropdown-padding-y:                                .5rem !default;
$dropdown-margin-top:                               .125rem !default;
$dropdown-bg:                                       $white !default;
$dropdown-border-color:                             rgba($black, .15) !default;
$dropdown-border-width:                             $border-width !default;
$dropdown-divider-bg:                               $gray-lighter !default;
$dropdown-box-shadow:                               rgba($black, .175) !default;

$dropdown-link-color:                               $gray-dark !default;
$dropdown-link-hover-color:                         darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:                            $gray-lightest !default;

$dropdown-link-active-color:                        $component-active-color !default;
$dropdown-link-active-bg:                           $component-active-bg !default;

$dropdown-link-disabled-color:                      $gray-light !default;

$dropdown-item-padding-x:                           1.5rem !default;

$dropdown-header-color:                             $gray-light !default;


// NAVBAR
$navbar-border-radius:                              $border-radius !default;
$navbar-padding-x:                                  $spacer !default;
$navbar-padding-y:                                  ($spacer / 2) !default;

$navbar-brand-padding-y:                            .25rem !default;

$navbar-toggler-padding-x:                          .75rem !default;
$navbar-toggler-padding-y:                          .25rem !default;
$navbar-toggler-font-size:                          $font-size-lg !default;
$navbar-toggler-border-radius:                      $btn-border-radius !default;

$navbar-inverse-color:                              rgba($white, .5) !default;
$navbar-inverse-hover-color:                        rgba($white, .75) !default;
$navbar-inverse-active-color:                       rgba($white, 1) !default;
$navbar-inverse-disabled-color:                     rgba($white, .25) !default;
$navbar-inverse-toggler-bg:                         str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-inverse-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-inverse-toggler-border:                     rgba($white, .1) !default;

$navbar-light-color:                                rgba($black, .5) !default;
$navbar-light-hover-color:                          rgba($black, .7) !default;
$navbar-light-active-color:                         rgba($black, .9) !default;
$navbar-light-disabled-color:                       rgba($black, .3) !default;
$navbar-light-toggler-bg:                           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-light-toggler-border:                       rgba($black, .1) !default;


// NAVS
$nav-item-margin:                                   .2rem !default;
$nav-item-inline-spacer:                            1rem !default;
$nav-link-padding:                                  .5em 1em !default;
$nav-link-hover-bg:                                 $gray-lighter !default;
$nav-disabled-link-color:                           $gray-light !default;

$nav-tabs-border-color:                             #ddd !default;
$nav-tabs-border-width:                             $border-width !default;
$nav-tabs-border-radius:                            $border-radius !default;
$nav-tabs-link-hover-border-color:                  $gray-lighter !default;
$nav-tabs-active-link-hover-color:                  $gray !default;
$nav-tabs-active-link-hover-bg:                     $body-bg !default;
$nav-tabs-active-link-hover-border-color:           #ddd !default;
$nav-tabs-justified-link-border-color:              #ddd !default;
$nav-tabs-justified-active-link-border-color:       $body-bg !default;

$nav-pills-border-radius:                           $border-radius !default;
$nav-pills-active-link-color:                       $component-active-color !default;
$nav-pills-active-link-bg:                          $component-active-bg !default;


// MODALS
$modal-inner-padding:                               15px !default;

$modal-dialog-margin:                               10px !default;
$modal-dialog-sm-up-margin-y:                       30px !default;

$modal-title-line-height:                           $line-height-base !default;

$modal-content-bg:                                  $white !default;
$modal-content-border-color:                        rgba($black, .2) !default;
$modal-content-border-width:                        $border-width !default;
$modal-content-xs-box-shadow:                       rgba($black, .5) !default;
$modal-content-sm-up-box-shadow:                    rgba($black, .5) !default;

$modal-backdrop-bg:                                 $black !default;
$modal-backdrop-opacity:                            .5 !default;
$modal-header-border-color:                         $gray-lighter !default;
$modal-footer-border-color:                         $modal-header-border-color !default;
$modal-header-border-width:                         $modal-content-border-width !default;
$modal-footer-border-width:                         $modal-header-border-width !default;
$modal-header-padding:                              15px !default;

$modal-lg:                                          800px !default;
$modal-md:                                          500px !default;
$modal-sm:                                          300px !default;

$modal-transition:                                  transform .3s ease-out !default;


// ALERTS
$alert-padding-x:                                   1.25rem !default;
$alert-padding-y:                                   .75rem !default;
$alert-margin-bottom:                               $spacer-y !default;
$alert-border-radius:                               $border-radius !default;
$alert-link-font-weight:                            $font-weight-bold !default;
$alert-border-width:                                $border-width !default;

$alert-success-bg:                                  $state-success-bg !default;
$alert-success-text:                                $state-success-text !default;
$alert-success-border:                              $state-success-border !default;

$alert-info-bg:                                     $state-info-bg !default;
$alert-info-text:                                   $state-info-text !default;
$alert-info-border:                                 $state-info-border !default;

$alert-warning-bg:                                  $state-warning-bg !default;
$alert-warning-text:                                $state-warning-text !default;
$alert-warning-border:                              $state-warning-border !default;

$alert-danger-bg:                                   $state-danger-bg !default;
$alert-danger-text:                                 $state-danger-text !default;
$alert-danger-border:                               $state-danger-border !default;


// CODE
$code-font-size:                                    90% !default;
$code-padding-x:                                    .4rem !default;
$code-padding-y:                                    .2rem !default;
$code-color:                                        #bd4147 !default;
$code-bg:                                           $gray-lightest !default;

$kbd-color:                                         $white !default;
$kbd-bg:                                            $gray-dark !default;

$pre-bg:                                            $gray-lightest !default;
$pre-color:                                         $gray-dark !default;
$pre-border-color:                                  #ccc !default;
$pre-scrollable-max-height:                         340px !default;


// CLOSE
$close-font-size:                                   $font-size-base * 1.5 !default;
$close-font-weight:                                 $font-weight-bold !default;
$close-color:                                       $black !default;
$close-text-shadow:                                 0 1px 0 $white !default;


// BREADCRUMBS
$breadcrumb-padding-y:                              .75rem !default;
$breadcrumb-padding-x:                              1rem !default;
$breadcrumb-item-padding:                           .5rem !default;

$breadcrumb-bg:                                     $gray-lighter !default;
$breadcrumb-divider-color:                          $gray-light !default;
$breadcrumb-active-color:                           $gray-light !default;
$breadcrumb-divider:                                '/' !default;
